<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.91.0" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net452" />
  <package id="Dynamit" version="0.1.33" targetFramework="net452" />
  <package id="ExcelDataReader" version="3.4.0" targetFramework="net452" />
  <package id="ExcelDataReader.DataSet" version="3.4.0" targetFramework="net452" />
  <package id="ExcelNumberFormat" version="1.0.3" targetFramework="net452" />
  <package id="FastMember.Signed" version="1.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="RESTar" version="0.3.35" targetFramework="net452" />
  <package id="RESTar.SQLite" version="0.2.34" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.107.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
</packages>