<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.87.1" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net45" />
  <package id="Dynamit" version="0.1.29" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="ExcelDataReader" version="3.3.0" targetFramework="net45" />
  <package id="ExcelDataReader.DataSet" version="3.3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="RESTar" version="0.3.22" targetFramework="net45" />
  <package id="RESTar.SQLite" version="0.2.20" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.106.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.106.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.106.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net45" />
</packages>